:root {
    --green: #7FF39A;
    --gray: #E1E1E1;
    --border: #707070;
    --shadow: 0px 5px 6px var(--gray);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    padding: 10px 0px 0px 5%;
    margin-bottom: 20px;
}

main {
    padding-left: 10%;
}

.logo {
    margin: 15px 0px 0px 15px;
}

.item-select {
    height: 120px;
    display: grid;
    grid-template-columns: 488px 93px;
}

.title {
    font-size: 20px;
}

.drop-down {
    width: 445px;
    height: 62px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
}

.qty-box {
    width: 93px;
    height: 62px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
}

.add-btn {
    border: 2px solid var(--border);
    height: 40px;
    width: 128px;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    display: grid;
    background-color: var(--gray);
    box-shadow: var(--shadow);
    margin-bottom: 30px;
}

.contents {
    width: 581px;
    height: 344px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
}

.carton-select {
    padding: 40px 10px 30px 0px;
    display: grid;
    grid-template-columns: 402px 179px;
}

.ctn-drop {
    width: 367px;
    height: 62px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
}

.wgt-box {
    width: 179px;
    height: 62px;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
}


.controls {
    display: grid;
    grid-template-columns: 214px 153px;
}

.submit-btn {
    width: 153px;
    height: 40px;
    border: 2px solid var(--border);
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    display: grid;
    background-color: var(--green);
    box-shadow: var(--shadow);
}

.clear-btn {
    width: 153px;
    height: 40px;
    border: 2px solid var(--border);
    font-size: 20px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--gray);
    box-shadow: var(--shadow);
}


@media only screen and (max-width: 645px) {

    main {
        padding-left: 5%;
    }

    header {
        padding-left: 1%;
    }

    .item-select {
        display: grid;
        grid-template-columns: auto;
    }


    .add-btn {
        margin-left: 60%;
    }

    .contents {
        width: 445px;
    }

    .carton-select {
        display: inline-grid;
        grid-template-columns: auto;
        padding: 0px 10px 30px 0px;
    }

}

